.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 36px;
	width: 100%;
}

.header {
	color: var(--primary-text-color);
	font-size: var(--h1-size);
	line-height: var(--h1-line-height);
}
